<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <form action="/" method="post">
      <label for="she_likes_me">How much do you think she likes you? (1-7)</label>
      <input type="text" name="she_likes_me"><br />
      <label for="you_like_her">How much do you like her? (1-7)</label>
      <input type="text" name="you_like_her"><br />
      <label for="your_rank">How good looking are you? (1-7)</label>
      <input type="text" name="your_rank"><br />
      <label for="her_rank">How good looking is she? (1-7)</label>
      <input type="text" name="her_rank"><br />
      <label for="her_response_time">How long did it take her to respond?</label>
      <input type="text" name="her_response_time"><br />
      <label for="your_response_time">How long did it take you to respond last?</label>
      <input type="text" name="your_response_time"><br />
      <label for="your_text_count">Total number of texts from you to her</label>
      <input type="text" name="your_text_count"><br />
      <label for="her_text_count">Total number of texts from her to you</label>
      <input type="text" name="her_text_count"><br />

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
