<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <style>
      .slider { width:460px; margin:10px;} 
      .row {width:470px;}
      form {width:470px;}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
  </head>
  <body>
    <form action="/" method="post">
      <div class="row">
        <div id="she_likes_slider" class="slider"></div>
        <label for="she_likes_me">How much do you think she likes you? (1-7)</label>
        <input type="text" name="she_likes_me" id="she_likes_me" value="1"><br />
      </div>
      <div class="row">
        <div id="you_like_slider" class="slider"></div>
        <label for="you_like_her">How much do you like her? (1-7)</label>
        <input type="text" name="you_like_her" id="you_like_her" value="1"><br />
      </div>
        <div id="your_rank_slider" class="slider"></div>
        <label for="your_rank">How good looking are you? (1-7)</label>
        <input type="text" name="your_rank" id="your_rank" value="1"><br />
      <div class="row">
        <div id="her_rank_slider" class="slider"></div>
        <label for="her_rank">How good looking is she? (1-7)</label>
        <input type="text" name="her_rank" id="her_rank" value="1"><br />
      </div>
      <div class="row">
        <label for="her_response_time">How long did it take her to respond?</label>
        <input type="text" name="her_response_time"><br />
      </div>
      <div class="row">
        <label for="your_response_time">How long did it take you to respond last?</label>
        <input type="text" name="your_response_time"><br />
      </div>
      <div class="row">
        <label for="your_text_count">Total number of texts from you to her</label>
        <input type="text" name="your_text_count"><br />
      </div>
      <div class="row">
        <label for="her_text_count">Total number of texts from her to you</label>
        <input type="text" name="her_text_count"><br />
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>

    <script type="text/javascript">
      $("#she_likes_slider").slider({
        value: 1,
        min: 1,
        max: 7,
        step: 1,
        slide: function(event, ui) {
          $("#she_likes_me").val(ui.value);
        }
      });
      $("#you_like_slider").slider({
        value: 1,
        min: 1,
        max: 7,
        step: 1,
        slide: function(event, ui) {
          $("#you_like_her").val(ui.value);
        }
      });
      $("#your_rank_slider").slider({
        value: 1,
        min: 1,
        max: 7,
        step: 1,
        slide: function(event, ui) {
          $("#your_rank").val(ui.value);
        }
      });
      $("#her_rank_slider").slider({
        value: 1,
        min: 1,
        max: 7,
        step: 1,
        slide: function(event, ui) {
          $("#her_rank").val(ui.value);
        }
      });      
    </script>
  </body>
</html>
