<div id="landing" class="col-xs-8 col-xs-offset-2 col-md-offset-2 col-md-8 center-block">
  <h1>The waiting game. Everyone hates it, but sometimes you just gotta play it.</h1>

  <h4>That cute girl from last night finally texted you back. Now the ball is in your court. How long should you wait to reply to her? Take the test to find out.</h4>
  <hr />
  <div class="row center-block">
    <div class="col-xs-12 col-md-4">
      <img src="/images/chick_icon.png" />
      <p>
        You got her number.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="/images/texting_icon.png" />
      You're texting.
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="/images/love_icon.png" />
      Win the war.
    </div>
  </div>
</div>
<% content_for :footer do %>
  <div class="row center-block col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3 text-center">
    <a class="t-button" href="/test">Take the Test
      <i class="arrow-right"></i>
    </a>
</div>
<% end %>
