<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="iPhone">
      <div class="conversation">
        
        <!--
        <div class="time">
          <p>Oct 15, 2012 3:43 PM</p>
        </div>
        -->
        
        <!--
        <div class="text sent">
          <div class="reflect"></div>
          <p>A message sent.</p>
        </div>
        -->
        
        <!--
        <div class="text receive">
          <div class="reflect"></div>
          <p>A message received.</p>
        </div>
        -->
        <% @messages.each do |m| %>
          <div class="text receive">
            <div class="reflect"></div>
            <p><%= m.body %></p>
          </div>
        <% end %>
        <!-- TODO: Add messages to page -->
        
      </div>
    </div>
  </body>
</html>
