<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="iPhone">
      <div class="conversation">
        
        <!--
        <div class="time">
          <p>Oct 15, 2012 3:43 PM</p>
        </div>
        -->
        
        <!--
        <div class="text sent">
          <div class="reflect"></div>
          <p>A message sent.</p>
        </div>
        -->
        
        <!--
        <div class="text receive">
          <div class="reflect"></div>
          <p>A message received.</p>
        </div>
        -->
        <% @messages.each do |m| %>
          <div class="text receive">
            <div class="reflect"></div>
            <p><%= m.body %></p>
          </div>
        <% end %>
        <!-- TODO: Add messages to page -->
        
        <script type="text/javascript">
        $.ajax({ 
    type: 'GET', 
    url: 'http://stephen-messages.herokuapp.com/all',
    dataType: 'json',
    error: function (data) {
      console.log(data);
    },
    success: function (data) { 
      console.log(data.length);
    }
});

          // (function poll() {
          //   $.ajax({ url: "http://stephen-messages.herokuapp.com/all.json", success: function(data) {
          //     for (var i = 0; i < data.length; i++) {
          //       //console.log(data[i].body);
          //     }
          //     console.log(data.length);
          //   }, error: function (data) {
          //     console.log(data);
          //     $.each(data, function(index, element) {
          //       //console.log("error");
          //     });
          //   }, dataType: "json" /*, complete: poll*/, timeout: 30000000})
          // })();
        </script>
      </div>
    </div>
  </body>
</html>
