body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #0099cc;
}

#header {
  position: fixed;
  height: 50px;
  top: 0;
  background-color: #0099cc;
  z-index: 4;
}
#footer {
  min-height: 50px;
  background-color: #0099cc;
}
#logo {
  background-image: url(/images/logo.png);
  background-size: 200px auto;
  background-repeat: no-repeat;
  padding: 10px 0; 
  width: 200px;
  margin: 0 auto;
  height: 50px;
}
#main {
  margin-top: 50px;
}
.container {
  position: relative;
  -webkit-perspective: 800;
}

#landing {
  text-align: center;
}

#landing h1, #landing h4 {
  text-shadow: 0px 1px 1px #acacac;
}

#landing h4 {
  margin-bottom: 30px;
}

#landing hr {
  width: 50%;
  border-color: #77c9e4;
}

#landing .row {
  margin: 30px 0;
}

#footer .t-button {
  font-size: 30px;
  display: inline-block;
  margin: 20px 0;
}

.t-button {
  padding: 0.5em;
  color: white;
  box-shadow: 1px 2px 1px #333;
  background-color: #95d7ed;
  text-decoration: none;
  border-radius: 8px;
}

.t-button:hover {
  text-decoration: none;
}

.arrow-right {
  background-image: url(/images/arrow_right.png);
  background-repeat: no-repeat;
  background-size: 1.5em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
}
.current {
  visibility: visible;
}

.answer {
  display: none;
}
h3 {
  margin: 40px 0;
}
.glyphicon {
  font-size: 50px;
}
.value {
  text-align: center;
  background-color: #f7f5fa;
  width: 120px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 30px 20px;
  border: 1px solid black;
}
.up, .down {
  cursor: pointer;
  margin: 25px 0;
}
.question {
  text-align: center;
}
.next, .prev, .submit {
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
}
.action {
  position: fixed;
  left: 0;
  font-size: 20px;
}
.progress {
  margin-top: 20px;
}
.result {
  margin: 40px 0;
  text-align: center;
}
.result h1 {
  margin: 20px 0;
}
